<%= form_for([@upload, @upload.comments.build]) do |f| %>

	<div class="commentForm">
	<div class="commentBody">
	<%= f.text_area :body, placeholder: "Add Comment..." %>
	</div>
	<div class="commentName">
	<div><%= f.text_field :name, placeholder: "Name.." %></div>
	</div>
	</div>
	<%= f.submit %>
<% end %>

