<%= form_for([@upload, @upload.comments.build]) do |f| %>

	<div class="commentForm">
	<div class="commentBody form-group">
	<%= f.text_area :body, placeholder: "Add Comment...",class: "form-control" %>
	</div>
	</div>
	<%= f.submit "Add Comment",:class => "btn btn-primary" %>
<% end %>