<div class= "uploadhead">
	<h1>Upload PDF</h1>
	<p>Please select the pdf you want to view</p>
</div>
<div class="uploadbody">
<%= form_for(@upload, multipart: true, url: upload_path) do |form| %>
	<div class="choosefile">
		
		  <%= form.file_field :document %>
	  </div>
	  <div class="uploadbtn">
		 <%= form.submit "Upload" %> 
	  </div>
	<% end %>
</div>