<h1>Upload#new</h1>
<p>Find me in app/views/upload/new.html.erb</p>

<%= form_for(@upload, multipart: true, url: upload_path) do |form| %>
  <%= form.file_field :document %>
  <%= form.submit "Upload" %>
<% end %>