<div class="pagehead">
<h1>Pages</h1>
</div>
<ul class="bxslider">
<% @pages.each do |p| %>
		<li><%= image_tag(p.url, :border => 0) %></li>
<% end %>
</ul>
<script>
	$(document).ready(function(){
  $('.bxslider').bxSlider();
});
</script>